@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Sawarabi+Mincho&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding : 0px;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.post-box{
    width: 450px;
    border-radius: 8px;
    padding: 30px;
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgba(170, 222, 238, 0.85);
}

.post-box > .form-title {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #353535;
    text-align: center;
}

.post-box > label {
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    margin-bottom: 8px;
    color: #333333;
}

.post-box > .form-input {
    width: 90%;
    padding: 6px;
    border: 1px solid rgba(40, 66, 45, 0.87);
    border-radius: 5px;
    font-size: 16px;
}

.post-box > .submit-button {
    width: 25%;
    height: 40px;
    align-self: center;
    cursor: pointer;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    background-color: rgba(183, 250, 199, 0.849);
    border: 1px solid #000000b2;
    border-radius: 5px;
}

.post-box > .submit-button:hover {
    background-color: rgba(90, 216, 122, 0.849);
    transition: 0.5s ease;
}