@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Sawarabi+Mincho&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding : 0px;
    margin: 0;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-image: url(/img/backgroundimg.jpg);
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: flex-end;
}

nav{
    margin: 10px 10px 0px 0px;
}
/* Remove default link styling: keep text color, remove underline */
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
}

main {
    display: flex;
    justify-self: center;
    width: 85vw;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgba(240, 255, 255, 0.850);
}

section.mainfeed > .title {
  display: flex;
  align-self: center;
  margin: 0px 0px 20px 0px;
}

section.mainfeed {
  width: 75%;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

section.mainfeed > h1 > i{
  font-style: italic;
}

section.profilesidebar {
  width: 15%;
  padding: 30px;
  border-radius: 20px;
  background-color: rgba(240, 255, 255, 0.315);
}

section.profilesidebar > .profile >img {
  width: 75px;
  margin-top: 4px;
  clip-path: circle();
}
.profile { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile > p.username {
  font-size: 1.2em;
  margin-top: 4px;
}

.profile > p.profile-description {
  margin: 5px 0px 5px 0px;
  text-align: center;
  font-style: italic;
}

.profile > p.posts {
  font-weight: 600;
}

.external-links{
  display: flex;
  align-items: center;
  justify-content: center;
}

.external-links > .external-app-account {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;  
  color: rgb(75, 150, 255);
}

.posts {
  display: flex;
  flex-direction: column;
}

.post {
  padding: 22px;
  margin: 20px;
  background-color: beige;
  border-radius: 15px;
}

.post > h2 {
  margin-bottom: 5px;
}

.post > p {
  margin-bottom: 10px;
}

.createpost {
  background-color: rgba(215, 235, 253, 0.741);
  border: #133b746c 1px solid;
}
.createpost > form > button  {
  background-color: #e7fcf3d2;
  border: 1px solid rgba(7, 25, 45, 0.667);
  border-radius: 5px;
  padding: 6px;
  font-size: 1em;
}

.createpost > form > button:hover {
    background-color: #44d29299;
    transition: 0.3s ease;
    cursor: pointer;
} 

.post form > button > input {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.post > a.spotify-link {
  color: green;
  font-weight: 600;
}





/*
.figtree-<uniquifier> {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sawarabi-mincho-regular {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.outfit-<uniquifier> {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.inter-tight-<uniquifier> {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/