@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Sawarabi+Mincho&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    padding : 0px;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
}

.post-box{
    width: 600px;
    height: 20vw;
    border-radius: 8px;
    padding: 35px;
    margin: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(176, 205, 214, 0.85);
}

.post-box > .basic-info {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    gap: 10px;
    height: 20px;
}

.post-box > .basic-info > .form-input#username {
    width: 25%;
}

.post-box > .basic-info > .form-input#musicTitle {
    width: 42%;
}

.post-box > .comment {
    margin: 25px 0px 25px 0px;
    display: flex;
    justify-content: center;
}

.post-box > .comment > textarea {
    height: 85px;
}

.post-box > .form-title {
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
    color: #353535;
    text-align: center;
}

.post-box > .form-input {
    width: 95%;
    height: 10px;
    margin: 0px 0px 10px 0px;
    padding: 6px;
    border: 1px solid rgba(40, 66, 45, 0.87);
    border-radius: 5px;
    font-size: 16px;
}

.post-box > .form-input#username{
    width: 50%;
}

.post-box > .form-input#spotifyLink{
    width: 98%;
    height: 12px;
    margin-bottom: 20px;
}

.post-box > .spotifyLink {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.post-box > .submit-button {
    width: 15%;
    height: 30px;
    align-self: flex-end;
    cursor: pointer;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    background-color: rgba(172, 255, 179, 0.616);
    border: 1px solid #000000b2;
    border-radius: 5px;
}

.post-box > .submit-button:hover {
    background-color: rgba(139, 255, 168, 0.849);
    transition: 0.5s ease;
}